/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-00: #000;
	--primary-color: #582770;
	--secondary-color: #ff0084;
	--white-color-00: #fff;

	/* Font Family */
	--title-ff: 'Anton', serif;
	--text-ff: 'Ubuntu', serif;

	/* Font Wight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;
	--semibold-fw: 600;

	/* Font Size */
	--base-fs: 1rem;
	--lg-fs: 1.25rem;
	--xl-fs: 2.25rem;
	--xxl-fs: 3.75rem;

	/* Width */
	--container-mw: 1280px;

	/* Padding */
	--container-pi: 0.85rem;
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--text-ff);
}

html,
body {
	scroll-behavior: smooth;
}

body {
	background-color: var(--white-color-00);
	font-size: var(--base-fs);
}

a {
	text-decoration: none;
}

a i,
button i {
	pointer-events: none;
}

:is(h1, h2, h3, h4, h5, h6),
:is(h1, h2, h3, h4, h5, h6) span {
	font-family: var(--title-ff);
	font-weight: var(--normal-fw);
	color: var(--white-color-00);
	font-size: var(--xxl-fs);
}

button,
input,
select,
textarea {
	outline: none;
	border: none;
	background-color: transparent;
}

input::placeholder,
textarea::placeholder {
	font-weight: var(--light-fw);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.logo {
	display: flex;
	align-items: flex-end;
	gap: 0.35rem;
}

.logo img {
	width: 30px;
	margin-bottom: 0.25rem;
}

.logo span {
	font-family: var(--title-ff);
	font-weight: var(--normal-fw);
	font-size: var(--lg-fs);
	color: var(--white-color-00);
	background-image: linear-gradient(
		to left,
		var(--primary-color),
		var(--secondary-color),
		var(--white-color-00)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#home {
	min-height: 100vh;
	background-image: linear-gradient(
			to right,
			rgba(88, 39, 112, 0.92),
			rgba(255, 0, 132, 0.25)
		),
		url('../img/married.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/***************** NAVBAR *******************/
#navbar {
	height: 80px;
}

.navbar-content {
	display: flex;
	height: 100%;
	align-items: center;
}
/************** End of NAVBAR ***************/

/***************** TITLE *******************/
/* TODO: Create TITLE style */
/************** End of TITLE ***************/

/***************** IMAGE CONTENT *******************/
/* TODO: Create IMAGE CONTENT style */
/************** End of IMAGE CONTENT ***************/

/***************** FORM CONTENT *******************/
/* TODO: Create FORM CONTENT style */
/************** End of FORM CONTENT ***************/

/***************** Responsiveness *******************/
